form {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: orange;
    border-radius: 10px;
    border: darkorange 5px solid;
}

tr {
    font-weight: bold;
    color: red;
    font-style: italic;
}

#searchAll::placeholder, #updateName::placeholder, #updatePhone ::placeholder {
    color: orange;
    opacity: 0.8;
}

#searchAll, #updateName, #updatePhone {
    background-color: red;
    border: 3px;
    border-radius: 5px;
    font-weight: bold;
    color: orange;
}
.hidden {
    display: none;
    visibility: inherit;
}